.login{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
   &__form{
    &-input{
        &:hover{
            border-color: rgb(107, 107, 107) !important;
        }
        &:focus{
            border-color: rgb(107, 107, 107) !important;
        }
    }
    &-button{
        background-color: rgb(107, 107, 107) !important;
    }
   }
   
}
